h1:first-child{
    background-color: aqua;
}

a:link{
    color: red;
}

a:hover{
    color: yellow;
}

a:active{
    color: violet;
}

a:visited{
    color: navy;
}

input:focus{
    background-color: red;
    color: yellow;
}